@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

.orientation-vertical {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transition: ease 0.3s;
}

.orientation-vertical #elevationProfileResizeHandler {
  cursor: ns-resize;
}

.orientation-horizontal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: ease 0.3s;
}

.orientation-horizontal #elevationProfileResizeHandler {
  cursor: ew-resize;
}
